#intro {
    margin: 2rem 0;
}

#second-part {
    margin: 5rem 0 0 0;
}

#intro-divs {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 2rem;
    position: relative;
}

#intro-divs div {
    box-sizing: border-box;
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border: 5px solid chocolate;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0 black;
    color: white;
    font-size: 1.2rem;
    font-style: italic;
}

#intro-divs h3 {
    position: relative;
    top: calc(50% - 0.75rem);
    font-size: 1.3rem;
    text-align: center;
}

#milk-chocolate {
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/milk-chocolate) saddlebrown;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    transform: scale(1);
}

#dark-chocolate {
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/dark-chocolate) rgb(97, 48, 12);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    transform: scale(1);
}

#white-chocolate {
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/white-chocolate) papayawhip;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    transform: scale(1);
}

@media (max-width: 848px) {
    nav ul {
        display: none;
        position: absolute;
        margin-top: 3.5rem;
        top: 0;
        left: 0;
        background: sienna;
        z-index: 1;
        width: 100%;
        opacity: 1;
    }

    nav ul a {
        width: 100%;
        padding-left: 1rem;
        border-bottom: 1px solid saddlebrown;
    }

    nav ul a:hover {
        background: peru;
    }
    
    .burger {
        display: block;
    }

    main {
        text-align: center;
    }

    p {
        width: 45rem;
        margin: 0 auto;
    }

    #intro-divs {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    p {
        width: 30rem;
        margin: 0 auto;
    }

    #intro-divs {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 10rem;
        height: 40rem;
    }
}

@media (max-width: 576px) {
    p {
        width: 25rem;
    }
}
